<!-- Contenu slider -->
 <div class="_slider">
	<div id="titlecar">Une présentation de notre carte</div>
    <a href="#" class="_slider_next">&#10095;</a>
    <a href="#" class="_slider_prev">&#10094;</a>
     <ul>	
		<li><%= image_tag 'burrito.jpg' %></li>
		<li><%= image_tag 'hamb.jpg' %></li>
		<li><%= image_tag 'plats.jpg' %></li>
		<li><%= image_tag 'soup.jpg' %></li>
		<li><%= image_tag 'dessert.jpg' %></li>
		<li><%= image_tag 'dessertchocolat.jpg' %></li>
	  </ul>	  
</div>

<div style="text-align:center">
  <span class="dot" value="1" ></span>
  <span class="dot" value="2" ></span>
  <span class="dot" value="3" ></span>
  <span class="dot" value="4" ></span>
  <span class="dot" value="5" ></span>
  <span class="dot" value="6" ></span>
</div>

